CHAPTER 2: PROBABILITY
Let's begin with an example:
we want to detect the probability of rolling two dices and getting the sum being 7
thus if 'a' is the first dice and 'b' is the second one, what are the results:
X : (a,b) --> (a+b)

In [12]:
d = {(i,j) : i+j for i in range(1,7) for j in range(1,7)}
print(d)
#here we created a dictionary containing all the combinations of the dices

{(1, 1): 2, (1, 2): 3, (1, 3): 4, (1, 4): 5, (1, 5): 6, (1, 6): 7, (2, 1): 3, (2, 2): 4, (2, 3): 5, (2, 4): 6, (2, 5): 7, (2, 6): 8, (3, 1): 4, (3, 2): 5, (3, 3): 6, (3, 4): 7, (3, 5): 8, (3, 6): 9, (4, 1): 5, (4, 2): 6, (4, 3): 7, (4, 4): 8, (4, 5): 9, (4, 6): 10, (5, 1): 6, (5, 2): 7, (5, 3): 8, (5, 4): 9, (5, 5): 10, (5, 6): 11, (6, 1): 7, (6, 2): 8, (6, 3): 9, (6, 4): 10, (6, 5): 11, (6, 6): 12}

In [7]:
#we now have to collect all the pairs that sum up of the possibile values 2 to 12
from collections import defaultdict #The defaultdict object fromthebuilt-incollections module creates dictionaries with default values when it encounters a new key
dinv = defaultdict(list)
for i , j in d.items():
    dinv[j].append(i)

print(dinv)

defaultdict(<class 'list'>, {2: [(1, 1)], 3: [(1, 2), (2, 1)], 4: [(1, 3), (2, 2), (3, 1)], 5: [(1, 4), (2, 3), (3, 2), (4, 1)], 6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)], 7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)], 8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)], 9: [(3, 6), (4, 5), (5, 4), (6, 3)], 10: [(4, 6), (5, 5), (6, 4)], 11: [(5, 6), (6, 5)], 12: [(6, 6)]})

In [8]:
dinv[7]

[(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]

In [11]:
#we now calculate the probability of each of the values to happen basd on the assumption that they are independent
X = {i : len(j)/36. for i,j in dinv.items()}
print(X)

{2: 0.027777777777777776, 3: 0.05555555555555555, 4: 0.08333333333333333, 5: 0.1111111111111111, 6: 0.1388888888888889, 7: 0.16666666666666666, 8: 0.1388888888888889, 9: 0.1111111111111111, 10: 0.08333333333333333, 11: 0.05555555555555555, 12: 0.027777777777777776}

We now Create other problems such as the following:
"what is the probability that half the product of three dice will exceed the their sum? We can solve this using
the same method as in the following"

In [1]:
d = {(i,j,k) : ((i*j*k)/2> i+j+k) for i in range(1,7) for j in range(1,7) for k in range(1,7)}

In [5]:
#now we do th inverse mapping in order to collect the corresponding list: 
from collections import defaultdict
dinv = defaultdict(list)
for i, j in d.items():
    dinv[j].append(i)

print(dinv) #now dinv contains only th two keys True and False

In [7]:
#the problem contain only indpendent events, thus computations are easy:
X = {i:len(j)/6.0**3 for i,j in dinv.items()} #since the probability of any triple is 1/6**3
#positive outcomes are the len(j) while the total outcomes are given by the amount of elements within it which are 216 --> 136/216
print(X)

{False: 0.37037037037037035, True: 0.6296296296296297}

FINAL EXAMPLE: using pandas and probability:
et is consider the first problem with the two dice where we want the probability of a seven, but this time one of the dice is no longer fair. The distribution for the unfair die is the following:
P({1}) = P({2}) = P({3}) = 1/9
P({4}) = P({5}) = P({6}) = 2/9
From the previous example we know that the elements which sum up to 7 are:
(1,6),(2,5),(3,4),(4,3),(5,2),(6,1)
but now each sum has different probability to happen since the dice is not fair.

In [11]:
#instead of using dictionaries we will now compute the probabilities using Pandas:
from pandas import DataFrame #import library
df = DataFrame(index=[(i,j) for i in range(1,7) for j in range(1,7)], columns = ['sm','d1','d2','pd1','pd2','p']) #create rows and columns
df.d1 = [ i[0] for i in df.index] #we now populate the columns with the outcomes --> d1 selects the column,
# the 0 stands for the first value in the tuple of the index and i lets you interact with the rows for each spin 
df.d2 = [i[1] for i in df.index] #same here but selecting the second element of the tuple
df.sm = list(map(sum,df.index))  #creates a list, with the sum  of the values in the indexes ( thus the throws )
#map syntax --> map(fun, iter)
df.head(10)

        sm  d1  d2  pd1  pd2    p
(1, 1)   2   1   1  NaN  NaN  NaN
(1, 2)   3   1   2  NaN  NaN  NaN
(1, 3)   4   1   3  NaN  NaN  NaN
(1, 4)   5   1   4  NaN  NaN  NaN
(1, 5)   6   1   5  NaN  NaN  NaN
(1, 6)   7   1   6  NaN  NaN  NaN
(2, 1)   3   2   1  NaN  NaN  NaN
(2, 2)   4   2   2  NaN  NaN  NaN
(2, 3)   5   2   3  NaN  NaN  NaN
(2, 4)   6   2   4  NaN  NaN  NaN

In [16]:
#lets fill the probabilities in it:
df.loc[df.d1 <=3, 'pd1'] = 1/9
df.loc[df.d1 >3, 'pd1' ] = 2/9
df.pd2  = 1/6
df.head(10)

        sm  d1  d2       pd1       pd2    p
(1, 1)   2   1   1  0.111111  0.166667  NaN
(1, 2)   3   1   2  0.111111  0.166667  NaN
(1, 3)   4   1   3  0.111111  0.166667  NaN
(1, 4)   5   1   4  0.111111  0.166667  NaN
(1, 5)   6   1   5  0.111111  0.166667  NaN
(1, 6)   7   1   6  0.111111  0.166667  NaN
(2, 1)   3   2   1  0.111111  0.166667  NaN
(2, 2)   4   2   2  0.111111  0.166667  NaN
(2, 3)   5   2   3  0.111111  0.166667  NaN
(2, 4)   6   2   4  0.111111  0.166667  NaN

In [17]:
#joint probabilities --> indipendent events:
df.p = df.pd1 * df.pd2
df.head(5)

        sm  d1  d2       pd1       pd2         p
(1, 1)   2   1   1  0.111111  0.166667  0.018519
(1, 2)   3   1   2  0.111111  0.166667  0.018519
(1, 3)   4   1   3  0.111111  0.166667  0.018519
(1, 4)   5   1   4  0.111111  0.166667  0.018519
(1, 5)   6   1   5  0.111111  0.166667  0.018519