# Lesson 1 - Python recap

## Strings

In [1]:
# split a string

text = 'This is a Python introduction'
print(text)
text = text.split() # default sep=' '
print(text)

This is a Python introduction
['This', 'is', 'a', 'Python', 'introduction']

In [ ]:
text = 'I saw the cat, and suddenly it disappeared'
print(text)
text = text.split(',') 
print(text)

Indexing and slicing

In [ ]:
t = 'New York'
t[4]

In [ ]:
# indexing from the beginning

text = 'NEW YORK'

print(text[1]) 
print(text[0:3]) 
print(text[40:80]) 
print(text[:3]) 
print(text[4:])

In [ ]:
# from the end

text = 'NEW YORK'

print(text[-1]) 
print(text[-7]) 
print(text[-8:-5]) 
print(text[-4:]) 
print(text[:-5])

Replace

In [ ]:
text = 'I love my dog and my little dog'
print(text.replace('dog', 'cat', 1))

In [ ]:
t = 'Python forever'
t.replace('forever', 'whenever')

Concatenation

In [ ]:
text_1 = 'Hello'
text_2 = 'World!'
text_3 = text_1 + ' ' + text_2

print(text_3)

Strip

In [ ]:
text_1 = ' Pirelli Spa '
print(text_1.strip()) # default is blank

text_2 = 'Continental -'
print(text_2.strip('-').strip())

text_3 = '*Python***'
print(text_3.lstrip('*')) # There is also "rsplit"

In [ ]:
# len function

print(len('Bocconi'))
print(len('Maneskin'))
print(len(' some random words !! '))

In [ ]:
# upper/lowercases

text = 'MilaN'
print(text.lower())
print(text.upper())
print(text.title())

In [ ]:
## Lists

In [ ]:
list_A = [1, 'A', 234, 'BATMAN']
list_B = ['Na',' Nana', 'Nanana']
list_C = [134.05, 87.13, 109, 13.14, 530000, 19]

In [ ]:
print(list_A)      # print
print(len(list_B)) # len
print(list_C[3])   # slice : asking for just one item
print(list_A[1:3]) # we're asking two items so the result will be a list
print(list_B[:])

In [ ]:
# concatenate

[1, 'ABC'] + [1.0, [4, 98, 11.567]]
# the same result can be achieved by using the following :
# [1, 'ABC'].extend([1.0, [4, 98, 11.567]])

In [ ]:
# append

my_list = ['A', 'B', 'C']
word = 'D'
my_list.append(word)
print(my_list)

In [ ]:
# ordering elements

small = [4, 5, 1, 9]
print(small)
small.sort(reverse=True) # Note that sort is an in-place function
print(small)
small.sort(reverse=False)
print(small)

print('-'*30)

# unlike sort(), sorted creates a new copy of the list and doesn't change 
# the original list
original = [4, 9, 1, 8, 0]
print(original)
print(sorted(original, reverse=False))
print(original)

In [ ]:
# remove

list_1 = ['A', 'B', 'C', 'A', 'D', 'A']
list_1.remove('A')
print(list_1)

In [ ]:
# pop

list_2 = [1, 2, 3, 4, 5, 6]
list_2.pop(2)
print(list_2)

list_2 = [1, 2, 3, 4, 5, 6]
list_2.pop()
print(list_2)

In [ ]:
# del

list_2 = [1, 2, 3, 4, 5, 6]
del list_2[2]
print(list_2)

list_2 = [1, 2, 3, 4, 5, 6]
del list_2[3:]
print(list_2)

In [ ]:
some_list = ['spam', 'ham', 'car', 'foo']
some_list[2] = 'bar'
print(some_list)

In [ ]:
target_1 = 11
my_vals = [1, 56, 876, 32, 11, 6, 9]

print(target_1 in my_vals)

In [ ]:
target_2 = 32
print(target_2 not in my_vals)

In [ ]:
## Dictionaries

In [ ]:
dict_1 = {'A': 1, 'B': 3, 'D': 'X'}
print(dict_1['D'])

In [ ]:
shirt = {'color': 'red', 'size': 'M', 'quantity': 15}

In [ ]:
shirt['quantity']

In [ ]:
shirt['price'] = 45
print(shirt)

In [ ]:
del shirt['size']
print(shirt)

In [ ]:
print(shirt.keys())
print(shirt.values())

In [ ]:
## Functions

In [ ]:
import numpy as np
np.random.seed(42)

data = np.random.rand(1,1_000).tolist()[0]
std = np.std(data)
mean = np.mean(data)
median = np.median(data)
min_val = min(data)
max_val = max(data)

for val in [std, mean, median, min_val, max_val]:
    print(val)

In [ ]:
def simple_stat(data, log=True):
    """Calculating simple statistics of a given list.
    
    For the the given list of numbers, calculates standard deviation, 
    Mean, Median, Minimum and Maximum statistics.

    Args:
        data : A list of numerical data.
        log: If True, prints a simple report.
        
    Returns:
        Return a list of the given numbers
    """
    std = np.std(data)
    mean = np.mean(data)
    median = np.median(data)
    min_val = min(data)
    max_val = max(data)
    
    vals = [std, mean, median, min_val, max_val]
    names = ['Standard deviation', 'Mean', 'Median', 'Min', 'Max']
    
    if log:
        for name, val in zip(names, vals):
            print(f'{name} : {val}')
            #print(f'{name} : {round(val, 2)}')
    return vals

In [ ]:
import numpy as np

In [ ]:
np.random.seed(42)

data = np.random.rand(1,100_000).tolist()[0]
results = simple_stat(data)

In [ ]:
## Control flow structures

In [ ]:
years = [1987, 1990, 1980, 1973]
ages = [] # creating an empty list

In [ ]:
# for loop

ages = []
for year in years:
    age = 2019 - year
    print(age)
    ages.append(age)

In [ ]:
num = 0                    # initial number is set to 0
while num <= 10:           # while the number is less than or equal 10, continue
    print(num, end='-')
    num = num + 1          # adding one to the current value of the num = num+=1

In [ ]:
for num in range(11):      # what is range?
    print(num, end='\t')

In [ ]:
num = 0            # initial number is set to 0
while num <= 20:   # while the number is less than or equal 20, continue
    if num%2 != 0: # if the reminder of them with 2
        print(num)
    num = num + 1  # adding one to the current value of the num = num+=1

In [ ]:
ages = [56, 2, 14, 8, 33, 23, 19, 80, 6, 9, 27]

for age in ages:
    if age <= 12:
        print(age, 'Kid', sep=' - ')
    elif age <= 19 and age >= 13:
        print(age, 'Teen', sep=' - ')
    elif age <= 60 and age >= 20:
        print(f'{age} - Adult') # Did you noticed anything new here?
    else:
        print(age, 'Old', sep=' - ')

In [ ]:
for i in range(10):
    print(i)

In [ ]:
my_list = ['ABC', 'BVG', 'UHY', 'UQH', 'LLL']
for i in range(len(my_list)):
    print(my_list[i])

In [ ]:
target = {'A': [1.0, 5 ,7, 'foo'], 
          'B': [4, [12], '3', 83]}

In [ ]:
for key in target:
    for item in target[key]:
        check = 0
        if type(item) in [int, float] :
            if item < 10 :
                check = 1
        elif type(item) == str:
            if item.isnumeric():
                if int(item) < 10 :
                    check = 1
        if check == 1:
            print(item)

In [ ]:
def find_number(data, limit):
    """Finds the first number in a given list which is less than the defined threshold
    
    Args:
        data : A list containing numerical values
        limit : Threshold defined by user
    
    Returns:
        The first number in the given list smaller than threshold
    """
    for i in data:
        if i < limit:
            answer = i
            break
    return answer

In [ ]:
nums = [4,6,7,5,1,3,9]
limit = 2
print(find_number(nums, limit))

# The end